.main-container{
    justify-self: center;
}

.list-container{
    justify-self: center;
    background-color: rgba(53, 49, 49, 0.3);
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:5px 10px;
    border-radius: 5px ;
    box-shadow:  0px 1px 5px rgb(35, 24, 24) , -0px -0px 0px;
    
}

.image-container{
    position:relative;
    border: rgba(1,1,1,0.5);
    margin-bottom: 10px;
}

.image{
    width:150px;
    height: 150px;  
    border-radius: 5px;
    background-color: inherit;
}

.price,.rating,.available{
    color:white;
    font-size: 12px;
    font-weight:bolder;
    text-transform: capitalize;
} 
.description{
    color:white;
    font-size: 12px;
    font-weight:bolder;
    text-transform: capitalize;
}

.action-box{
    padding-top:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.description-btn{
    font-size: 13px;
    height: 27px;
    font-weight:bolder;
    color:white;
    text-decoration: none;
    background-color: rgba(1,1,1,0.3);
    display: flex;
    align-items: center;
    justify-content:center;
    padding:3px 3px;
    border-radius: 5px;
    border: 1px rgba(1,1,1,0.3) solid;
    cursor:pointer;
    transition:0.3s
}

.add-to-cart-btn{
    position: relative;
    font-size: 13px;
    font-weight:bolder;
    width:90px;
    height: 27px;
    color:white;
    text-decoration: none;
    background-color: rgba(1,1,1,0.3);
    padding:5px 3px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px rgba(1,1,1,0.3) solid;
    transition: background-color 0.3s ,transform 0.2s
}

.add-to-cart-btn:active{
    transform:scale(0.9);
}

.add-to-cart-btn:hover,.description-btn:hover{
    background-color: rgba(1,1,1,0.7);
}