.filter-icon{
    color:rgba(31, 22, 22, 0.5);
    margin-left: 5px;
}
.filter-icon-container{
    margin-right:5%
}
.filter-icon-btn{
    display: flex;
    align-items: center;
    padding:5px;
    border-radius: 5px;
    border:1px solid rgba(31, 22, 22, 0.3);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
    color: rgba(1, 1, 1, 0.6);
    letter-spacing: 1px
    
}
.filter-icon-btn:hover{
    background-color: rgba(31, 22, 22, 0.3);
    color: rgba(255, 255, 255, 0.8);
}