.navlink-container{
    list-style-type: none;
    display:flex;
}

.navlink{
    color:white;
    text-decoration:none;
    padding: 5px;
    margin: 0px 3px;
    background-color: rgba(34, 30, 30,0.3);
    border-radius: 5px;
    border: 1px rgba(223, 215, 215,0.5) solid;
    transition:all 0.3s
}

.navlink:hover{
    background-color: rgba(29, 31, 32, 0.8);
}
.cart{
    position: relative;
}
.cart-num{
    position: absolute;
    background-color:#fff;
    border-radius: 50%;
    color: #000;
    align-items: center;
    height:23px;
    width:23px;
    top:-12px;
    left:-12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(1,1,1,0.6);
}