.about-head{
    color:aliceblue;
    font-family:monospace;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 10px;
    padding: 10px 5px;
    background: linear-gradient(-90deg ,rgba(40, 131, 161,0.8), rgba(41, 39, 35, 0.9)) no-repeat center center ;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;

}

.about-container{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    max-width: 760px;
    margin:auto;
    justify-content: space-between;
}

.about-footer{
    color:rgb(245, 242, 242);
    padding:10px 5px;
    /* background: linear-gradient(-90deg ,rgba(40, 131, 161,0.8), rgba(41, 39, 35, 0.9)) no-repeat center center; */
    width:100%;
    text-align:center;
    margin-top:20px;
    border: 1px rgba(243, 247, 248, 0.8) solid;
    border-radius: 10px;

}

.about-content{
    /* min-height: 50vh; */
    background: linear-gradient(-90deg ,rgba(40, 131, 161,0.8), rgba(41, 39, 35, 0.9)) no-repeat center center;   
    color:rgb(245, 242, 242);
    margin: 30px 0px;
    padding:10px 5px;
    border-radius: 10px;
    padding:15px 10px;
}