
.not-found-main-container{
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    cursor:default;
}


.not-found-container{
    margin: auto;
    border-radius: 50%;
    position: relative;
    height:350px;
    max-width:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:350px;
    max-width:350px;
}

.not-found-container img{
    height:350px;
    max-width:350px;
    border-radius: 50%;
    display: inline-block;
    animation-name: imgRool;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2.3s;
    /* filter:blur(1.5px) */
}
.rocket{
    color:rgba(169, 141, 48, 0.8);
    position:absolute;
    font-size:50px;
    padding:0px;
    top:50%;
    right: 50%; 
    transform: translate(50% ,-50%);
    animation-name: rocketRool;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.not-found-content{
    box-sizing: border-box;
    letter-spacing: 2px;
    max-width:300px;
    background-color: rgba(13, 14, 13, 0.4);
    margin:30px auto;
    padding: 10px;
    color:rgba(240, 248, 255,0.9);
    font-family: monospace;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    border:1px rgba(13, 14, 13, 0.4) solid;
}

.home{
    color:rgba(208, 51, 30, 0.9);
    margin-left:5px;
}



.not-found-btn{
    color:aliceblue;
    text-decoration: none;
    border: rgba(250, 254, 250, 0.5) solid 1px;
    display: flex;
    background-color: rgba(13, 14, 13, 0.6);
    justify-content: center;
    align-items: center;
    padding:10px 5px;
    border-radius: 5px;
    margin-top: 20px;
    justify-self: center;
    transition: 0.3s;
}
.not-found-btn:hover{
    background-color: black;
}

@keyframes imgRool {
    from{
        transform: rotate(0deg) ;
    }

    to{
        transform: rotate(360deg);
    }
    
}
@keyframes rocketRool {
    0%{
        /* transform: rotate(0deg) translate(50% ,-50%); */
        /* color:black; */
        color:rgb(97, 94, 94);
    }

    50%{

        color:white;
    }

    100%{
        /* transform: rotate(360deg) translate(50% ,-50%); */
        color:rgb(97, 94, 94);
    }
    
}

@media screen and (max-width:400px) {
    .not-found-container img{
        width:250;
        height:250px;
    
    
    }
    .not-found-container{
        width:250px;
        height:250px;
    }
    .rocket{
        font-size: 30px;
    }
}